/* Slideshow CSS */
.slideshow_container {
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 40px;
  width: auto;
}

/* Navigation CSS*/
nav {
 box-sizing: border-box;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 20px 60px;
 text-align: left;
 background-color: rgba(255,255,255,0.5);
 overflow: hidden;
 font-size: 18px;
 letter-spacing: 1px;
 width: 100%;
 z-index: 10;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #eee;
  padding: 1px 0;
  margin: 0 10px;
  transition: all 0.15s ease-in-out;
}

.hover_aboutus:hover {
   color: #ff765a;
}
.hover_europe:hover {
  color: #5aff8c;
}
.hover_asia:hover {
  color: #5acbff;
}

.hover_africa:hover {
   color: #ff765a;
}
.hover_america:hover {
  color: #5aff8c;
}
.hover_oceania:hover {
  color: #5acbff;
}

.wide {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 60px 60px 60px;
  min-height: 100vh;
}

a.hover_home {
  font-size: 22px;
  font-weight: bold;
}

a.hover_aboutus {
  float: right;
}

a.hover_contactus {
  float: right;
}

/* Sections */
#europe {
  background-color: white;
}
#africa {
  background-color: black;
}
#asia {
  background-color: white;
}
#america {
  background-color: black;
}
#oceania {
  background-color: white;
}
#aboutus {
  background-color: black;
}
